<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">        
 <listeners>
<listener  class-name="com.enrichReport.ExtentReporterNG"/>
</listeners> 
    
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.enrich.testcases.HomePageTest"/>
       <class name="com.enrich.testcases.SignUpPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
